{% extends 'base.html' %}

{% block head %}
    <title>Bugabo</title>
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 5%">
        <div class="col s12 m4 offset-m4">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="card-title center-align">后台登陆</div>
                        <form class="col s12" name="user_login" method="post" action="{{ url_for('god_login') }}">
                            {{ form.csrf_token }}
                            {% if form.csrf_token.errors %}
                                <div class="warning">You have submitted an invalid CSRF token</div>
                            {% endif %}
                            <div class="row">
                                <div class="input-field validate col s12">
                                    <input placeholder="请填写管理员账号名称" name="username" type="text" class="validate">
                                    <label for="username">姓名</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field validate col s12">
                                    <input placeholder="请填写管理员账号密码" name="password" type="password" class="validate">
                                    <label for="password">密码</label>
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn col s6 offset-s3 #e57373 red lighten-2" id="submit" type="submit" onclick="user_login.submit();">
                                登陆<!--i class="material-icons right">send</i--></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}