{% extends 'base.html' %}

{% block head %}
    <title>Bugaboo</title>
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card #e57373 red lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">该奖品不存在</span>
                    <p>如有疑问请咨询客服，客服电话：4006-1535-16</p>
                    <p>本活动最终解释权归Bugaboo所有</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}
