{% extends 'base.html' %}

{% block head %}
    <title>Bugaboo</title>
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}

{% block content %}
    {% if checked %}
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">{{ award_name }}</span>
                            <p>{{ award_description }}</p>
                    </div>
                    <div class="card-action">
                        <form class="col s12" name="exchange" method="post" action="{{ url_for('acquire_award') }}">
                            {{ form.csrf_token }}
                            {% if form.csrf_token.errors %}
                                <div class="warning">You have submitted an invalid CSRF token</div>
                            {% endif %}
                             <div class="row">
                                <div class="input-field validate col s0">
                                    <input placeholder="请填写兑换码" name="awardrecord_token" type="password" class="validate" value="{{ token }}">
                                    <label for="username">兑换码</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field validate col s12 l6">
                                    <input placeholder="请填写兑换口令" name="exchange_token" type="password" class="validate">
                                    <label for="username">口令</label>
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn col s12 l6" id="submit" type="submit" onclick="exchange.submit();">
                                兑换<i class="material-icons right">send</i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">提示</span>
                        <p>该奖品不存在</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{%  block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}
